doctype html
html
  head
    title URL Shortener
  body
    h1 URL Shortener Microservice
    p To use the URL shortener please append your properly formatted URL to the end of https://shrtr.herokuapp.com/create
    p Example: https://shrtr.herokuapp.com/create/https://www.google.com