doctype html
html
  head
    title URL Shortener
  body
    h1 URL Shortener Microservice
    p To use the URL shortener please append your properly formatted URL to the end of https://shrt-dsoucie.c9users.io/
    p Example: https://shrt-dsoucie.c9users.io/create/https://www.google.com