doctype html
html
  head
    title URL Shortener
  body
    h1 URL Shortener Microservice
    p To use the URL shortener please append your properly formatted URL to the end of localhost:8080/create/
    p Example: localhost:8080/create/https://www.google.com